.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.navbar__links {
  display: flex;
  align-items: center;
}

.navbar__link a {
  margin-right: 1rem;
  color: #05c752;
}
