.container {
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
@media screen and (max-width: 1140px) {
  .container {
    padding: 0 2rem;
    width: 100%;
  }
}

#root {
  width: 100%;
}
