@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Laila:wght@400;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@media screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media screen and (max-width: 56.26em) {
  html {
    font-size: 50%;
  }
}

@media screen and (min-width: 122.5em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

ul {
  list-style-type: none;
}

a,
a:link,
a:hover {
  color: #fff;
  text-decoration: none;
}
