.main {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

.restaurants {
  display: grid;
  gap: 20px;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  grid-template-rows: 20rem;
  grid-auto-rows: 20rem;
  width: calc(55% - 2rem);
}

.map {
  width: calc(40% - 2rem);
  flex-grow: 1;
  height: 40rem;
  margin-right: 2rem;
  border-radius: 20px;

  transition: all 0.4s ease;
}

.map--loading,
.map--failed {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

.map--failed {
  border: 1px solid red;
}

@media screen and (max-width: 1140px) {
  .restaurants {
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    margin-top: 2rem;
  }

  .main {
    padding: 0 2rem;
  }

  .map {
    width: 100%;
    margin: 0;
  }
}
